hr.solid {
  border: none;
  height: 1px;
  background-color: #C5C5C5;
}

* {
    font-family: "National Park";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never; 
    font-weight: 300;
    color: #363636;
}

.link {
    text-decoration: none;
}

.project-title {
    background:
     linear-gradient(
       to bottom,
       #E2E2E2 0%,
       #E2E2E2 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
  display:inline-block;
}

/* On hover, transition the border space into a background fill */
.link:hover .project-title {
  background-size: 4px 10px;
}

b {
    font-weight: 700;
}

body {
    min-width: 300px;
    max-width:70%;
    margin: 0 auto;
}

.section {
    font-size: 2rem;
    font-weight: 700;
}

.section {
    margin-bottom: 50px;
}

.case-study-graphics{
    display:flex;
    gap: 1rem;
    margin-top: 50px;
}

.case-study-graphics * {
    display: inline;
    max-width: 33%;
}

.project-title {
    font-weight: 700;
    font-size:1.4rem;
    margin-top:15px;
}

.project-desc {
    margin-bottom: 8px;
}

.cards {
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px 0;
}

.card {
    font-size: 0.75rem;
    font-weight: 700;
    display:inline;
    padding: 1px 3px;
}

.role {
    background-color:#E2E2E2;
    border: #E2E2E2 solid 1px;
}

.tool {
    border: #C5C5C5 solid 1px;
}

.outline-vid {
    border: #C5C5C5 solid 1px;
}