body {
font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size:24px;
padding: 10px 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    width:75%;
    margin:auto;
}

a {
    color:#CCCCCC;
    text-decoration: none;
}

.header {
    display:flex;
    justify-content: space-between;
    padding: 20px;
    font-weight:bold;
    border:1px solid black;
    margin: 40px 0px;
    position:sticky;
    top: 40px;
    background-color:white;
    font-size:1em;
    z-index: 100;
}

#casecontainer {
    max-width: 660px;
    margin-top:40px;
}

#casevideo,
#wkcasestudypic {
    width:100%;
}

.sectionheads{
    display:flex;
}

.bulletpoints {
    text-indent: 20px;
}

.bio {
    margin: 100px 0px;
}

#waterkeeper {
    margin-bottom: 100px;
}

.section {
    display:flex;
    flex-direction: column;
    margin: 50px 0px;
    gap: 100px;
}

.sectionheads > div {
    margin: 0px 30px;
    font-size:1em;
}

.projecttext {
    width: 45%;
}

.project {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.videocontainer {
    width: 45%;
}

video {
    max-width: 100%;
    height:auto;
    outline:1px solid black;
    outline-offset: -1px;
}

.sectionhead > div {
    font-weight:bold;
    margin-bottom: 5px;
}

.line {
    height:1px;
    background-color: black;
}

.name {
    font-weight: bold;
}

.grey {
    color:#CCCCCC;
}

.sectionheads > div > a,
#projectname {
    color: black;
}

.footer {
    text-align: center;
    color:#CCCCCC;
}

img {
    border: 1px solid black;
    width: 70%;
    object-fit: contain;
    height:auto;
    align-self: center;
}

#WEBSITES {
    scroll-margin-top: 150px;
}

#INFOGRAPHICS {
    scroll-margin-top: 150px;
}

#PLAY {
    scroll-margin-top: 150px;
}

#beyond {
    color:black;
    text-decoration: none;
}

#beyond:hover{
    color:#00b3d1;
}

#projectname:hover{
    color:#00b3d1;
}

#waterkeepercontainer {
    width:45%;
    outline-offset: -1px;
}

#waterkeeperpic {
    width:calc(100% - 2px);
    height:auto;
    outline-offset: -1px;
}

.hover:hover {
    color:#00b3d1;
}

.hyperlinks {
    color:black;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.hyperlinks:hover{
    color:#00b3d1;
}

#liveproject {
    font-weight: bold; color:black;
}

#liveproject:hover{
    color:#00b3d1;
}

.casestudytext {
    font-size: 18px;
}

div#infographiccontainer {
    display: flex;
}

.column {
    max-width:50%;
    display:flex;
    flex-direction:column;
    padding: 10px;
    gap: 15px;
}

.column > img{
    width:100%;
}

#zinepic {
    width:100%;
}

.playcontainer {
    display:flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.otherplay {
    gap: 60px;
    display:flex;
    flex-direction: column;
    max-width: 75%;
}

.dualview {
    display:flex;
    gap: 20px;
}

.dualview > video {
    min-width: 0;
    max-width: 50%;
}

#cid {
    max-width: 50%; align-self: center;
}

/* media queries----------------------- */

@media (max-width: 1000px) {
  .header {
    display: none;
  }
  .project {
    flex-direction: column-reverse;
  }
  .projecttext {
    width: 100%;
    margin-top:50px;
  }
  .videocontainer,
  #waterkeepercontainer {
    width: 100%;
  }

  div#infographiccontainer {
    display: block;
}

    .column {
        max-width: 100%;
    }

.otherplay {
    max-width: 100%;
}

.dualview {
    flex-direction: column;
}

.dualview > video {
    max-width: 100%;
}

#cid {
    max-width: 100%;
}
}