hr.solid {
  border: none;
  height: 1px;
  background-color: #C5C5C5;
}

* {
    font-family: "National Park";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never; 
    font-weight: 300;
    color: #363636;
}

a {
    /* text-decoration-color: #E2E2E2;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px; */
    text-decoration: none;
    display: inline-block;
}

.animated-link {
    color: #363636;
    text-decoration: none;
    position: relative;
}

.animated-link::before, .animated-link::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    border-top-width: 1px;
}
.animated-link::before {
    border-top-color: #C5C5C5;
    border-top-style: solid;
    width: 100%;
}
.animated-link::after {
    border-top-color: #363636;
    border-top-style: solid;
    width: 0;
    transition: width .2s ease;
}

.animated-link:hover::after {
    width: 100%;
}

b {
    font-weight: 700;
}

body {
    min-width: 300px;
    max-width:70%;
    margin: 0 auto;
}

.section {
    font-size: 2rem;
    font-weight: 700;
}

.section {
    margin-bottom: 50px;
}

.case-study-graphics{
    display:flex;
    gap: 1rem;
    margin-top: 50px;
}

.case-study-graphics * {
    display: inline;
    max-width: 33%;
}

.project-title {
    font-weight: 700;
    font-size:1.4rem;
    margin-top:15px;
}

.project-desc {
    margin-bottom: 8px;
}

.cards {
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px 0;
}

.card {
    font-size: 0.75rem;
    font-weight: 700;
    display:inline;
    padding: 1px 3px;
}

.role {
    background-color:#E2E2E2;
    border: #E2E2E2 solid 1px;
}

.tool {
    border: #C5C5C5 solid 1px;
}

.outline-vid {
    border: #C5C5C5 solid 1px;
}